extends layout

block content
 
  div.container
    div.row
      div.col-sm-4
      div.col-sm-4
        h1 React App

        #app
      div.col-md-8
      
  script(src="/javascripts/main.js")
  script(src="/javascripts/index.js")